services:
  db:
    image: postgres:18.0-alpine3.22
    container_name: postgres
    ports:
      - 5400:5432
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql

  redis:
    image: redis:8.4.0-alpine
    container_name: redis
    ports:
      - 6379:6379
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    command: ["redis-server", "--requirepass", "$REDIS_PASSWORD"]
    volumes:
      - redis-data:/data
  frontend:
    build:
      context: ./apps/frontend
    env_file:
      - ./apps/frontend/.env
    container_name: client
    ports:
      - 5173:80

  backend:
    build:
      context: ./apps/backend
    env_file:
      - ./apps/backend/.env
    container_name: server
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
volumes:
  postgres-data:
  redis-data:
