services:
  db:
    image: postgres:18.0-alpine3.22
    container_name: postgres
    ports:
      - 5400:5432
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql

volumes:
  postgres-data:
